@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@font-face {
  font-family: "AR Julian";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/ARJULIAN.ttf") format("ttf");
}

@theme inline {
  --font-ar-julian: "AR Julian", Helvetica, sans-serif;
  --font-inter: "Inter", sans-serif;
}
